@import '../../styles/mixin.scss';

.login {

    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    background-color: #ffffff;

    &__header{
        align-items: center;
        width: fit-content;
        // background-color: aquamarine;
        margin-top: -20px;

        h4 {
            font-size: 23px;
        }

        p {
            margin-top: -20px;
        }

    }

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
        gap: 1rem;
    }

    &__image_holder{
        background-color: #b8b7be;
        border-radius: 0.5rem;
        margin: 0.5rem;
        margin-left: 0;

        @include respond(phone){
            display: none;
        }

        @include respond(tab-port){
            display: none;
        }

    }

    &__image_holder2{
        margin: 10px;

        .logtitle {
            display: flex;
            align-content: center;
            // background-color: aquamarine;

            img {
                width: 10%;
                height: 10%;
                margin: 2rem 0 1rem;

                @include respond(phone){
                    width: 11%;
                    width: 11%;
                }

                @include respond(tab-land){
                    width: 11%;
                    width: 11%;
                }

                @include respond(tab-port){
                    width: 11%;
                    width: 11%;
                }
            }

            h1 {
                margin-left: 1rem;
                margin-top: 2.1rem;
                font-size: 33px;
                font-weight: 700;

                @include respond(phone){
                    font-size: 200%;
                    font-weight: 700;

                }

                @include respond(tab-land){
                    font-size: 200%;
                    font-weight: 700;
                    margin-top: 1.8rem;

                }

            }
        }

    }

    .form2{
        background-color: rgb(255, 255, 255);
        padding: 0.5rem;
        width: auto;
    
        @include respond(phone){
            background-color: rgb(255, 255, 255);
            margin-right: 20px;
        }
        
        label{
            background-color: #ffffff;
            display: block;
            width: 24rem;
    
            @include respond(phone){
                width: 18rem;
            }
        }
    
        .form-contents1{
            width: inherit;
            background-color: rgb(255, 255, 255);
        
            input{
                width: 24rem;
                padding: 1rem;
                border-radius: 0.2rem;
                margin-top: 5px;
                margin-bottom: 10px;
                opacity: 0.6;
    
                @include respond(tab-land){
                    width: 22rem;
                }
    
                @include respond(tab-port){
                    width: 20rem;
                }
    
                @include respond(phone){
                    width: 18rem;
                }
    
    
                &:focus{
                    border-color: red;
                    opacity: 1;
                }
            }
    
            .summit-signup {
                width: fit-content;
                // background-color: aqua;
    
                .sigbtn{
                    padding: 1rem;
                    border-radius: 0.2rem;
                    width: 26rem;
                    background-color: #b9b7b7;
                    font-weight: 700;
                    color: #594fb6;
                    opacity: 1;
                    cursor: pointer;
    
                    &:hover{
                        background-color: #594fb6;
                        color: #ffffff;
                    }
    
                    @include respond(tab-land){
                        width: 24rem;
                    }
        
                    @include respond(tab-port){
                        width: 22.2rem;
                    }
        
                    @include respond(phone){
                        width: 20rem;
                    }
                }
    
            }
    
            .summit-signuplog {
                background-color: #ffffff;
                display: flex;
                width:fit-content;
                align-content: center;
                margin-inline: auto;
                margin-top: 0.5rem;
                gap: 0.5rem;

                .singup2 {
                    width: fit-content;
                    height: fit-content;
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    background-color: #ffffff;
                    color: #594fb6;
                    font-weight: 700;
                    padding: 0;
                    padding-bottom: 5px;
                    border-color: #594fb6;
                    opacity: 1;
                }
    
                h5{
                    background-color: #ffffff;
                    margin: 0;
                }
            }
    
        }
    }
}
