.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .blueprint__list{
    h2{
        font-size: 1.2em;
        font-weight: bold;
        font-style: bold;
        letter-spacing: 0.1em;
        color: black;
        &:hover{
            color: rgb(6, 50, 80);
        }
        &:active
        {
            color: green;
        }
    }
  }
  .card {
    width: 300px;
    margin: 20px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    .card-title {
      font-size: 1.5rem;
      color: #333;
      padding: 10px;
      border-bottom: 1px solid #e8e8e8;
      text-align: center;
    }
  
    .card-content {
      padding: 10px;
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          margin-bottom: 10px;
          border: 1px solid #e8e8e8;
          border-radius: 5px;
          padding: 10px;
          transition: all 0.3s;
  
          &:hover {
            background-color: #f5f5f5;
          }
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    .card {
      width: calc(50% - 40px);
    }
  }
  
  @media (max-width: 576px) {
    .card {
      width: calc(100% - 40px);
    }
  }
  