.layout-container{
  background-color: rgb(255, 255, 255);
  display: flex;
  
  .left-ad{
    background-color: yellow;
    width: 25%;
  }
  .right-ad{
    background-color: yellow;
    width: 25%;
  }
  .main-content{
    background-color: red;
    width: 50%;
  }
}