.pdfs{
  h1{
    font-size: 1.8rem;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    
}
h3{
  font-size:1em;
}
}

ant-collapse-content-box {
    padding: 10px; 
  }
  
  .ant-collapse-content-box ul {
    list-style-type: none; 
    padding: 0;
  }
  
  .ant-collapse-content-box li {
    margin-bottom: 5px; 
    color: #555; 
    font-size: 14px; 
  }
  
  .ant-collapse-content-box li:before {
    content: "▹"; 
    margin-right: 5px; 
    color: #ff6600; 
    font-weight: bold; 
  }
  $mobile-breakpoint: 576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;
$large-desktop-breakpoint: 1200px;

.Row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px; 
  margin-right: 0px; 

  .Col {
    padding-left: 12px; 
    padding-right: 12px; 

    
    @media (max-width: $mobile-breakpoint) {
      flex: 0 0 100%; 
      max-width: 100%;
    }

    @media (min-width: $tablet-breakpoint) {
      flex: 0 0 50%; 
      max-width: 50%;
    }

    @media (min-width: $desktop-breakpoint) {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }

    @media (min-width: $large-desktop-breakpoint) {
      flex: 0 0 20%; 
      max-width: 20%;
    }
  }
}

.display-pdf-container{
  margin-top: 10px;
}
