@import '../styles/colors.scss';
.content
{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
    position: fixed;
    border-radius: 10px;
    z-index: 1000;
    .content_holder{
        width: 70%;
        justify-content: center;
        display: flex;
        height: 96vh;
   
        background-color: rgba(255, 255, 255, 0);
       
        justify-content: center;
        align-items: center;
        flex-direction: column;
      padding: 20px;
        .payment_section{
            background-color: rgba(255, 255, 255, 0);

            height: 50vh;
            width: 70%;
            padding: 20px;
            border-radius: 10px;
            margin-top: 10px;
        }
    }
    
}