@import '../../styles/mixin.scss';
@import '../../styles//colors.scss';
.easyExam{
height: 70vh;
padding-block: 2rem;
}
.easy_exam_wrapper{
    display: flex;
    justify-content: center;
}
.easy_exam_input_holder{

    display: flex;
    justify-content: center;
    width: 50%;
align-self: center;
border-radius: 30px;
border: 1px solid $tade_color;
align-items: center;
padding-left: 20px;
}
.searchExam{
    width: 90%;
    padding: 15px;
}
.searchExamBtn{
    height: 100%;
    border: 1px $tade_color solid;
    padding: 15px;
    border-radius: 0px 20px 20px 0 ;
    background-color: $tade_color;
    color: white;
}