.question {
    background-color: #f2f2f2;
    padding: 20px;
    height: 500px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .choices {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .choices li {
    margin-bottom: 10px;
  }
  