@import "../../../styles/mixin.scss";
@import "../../../styles/colors.scss";

.ofijan_exam_plate {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 0vh;

  @include respond(phone) {}
}

.exam_info_plate {

  width: 100%;
  background-color: $milli_gray;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
  margin: 1em;

  .__text {
    size: 20px;
  }
}

.plate {
  display: grid;
  grid-template-columns: .5fr 2.5fr 1fr;
  gap: 0.2rem;
  background-color: rgb(255, 255, 255);
  padding: 0px;
  border-radius: 8px;

  @include respond(phone) {
    display: flex;
    flex-direction: column;
  }
}
th{
  background-color: rgb(117, 116, 116);
}
.basicInfoPlate
{
  width: 100%;
  display: flex;
  justify-content: center;
  

}
.basicInfoPlate2
{
  width: 75%;
  table{
    width: 100%;
  }
tr{
  width: 50%;
}
td
{
  width: 50%;
}
}


.flag_plate {
  background-color: $milli_gray;
  line-height: 2em;
  margin: 0.41rem;
  padding: 0.31rem;
  margin-top: 100px;
  margin-bottom: 50px;

  h5 {
    font-size: x-large;
    font-weight: bold;
  }

  p {
    font-weight: normal;
    font-size: 1em;
  }
}

.question_plate {
  height: fit-content;
  margin-bottom: 20px;
}

.questionplate {
  background-color: rgb(186, 230, 230);
  padding: 0rem;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.timePlate {

  display: flex;
  justify-content: space-between;
  margin: 5px;

  .timebox2 {
    border: red solid 1px;
    width: fit-content;
    padding: 2px;
  }


}

.questionText {
  padding: 1rem;
  width: 100%;
}

.choicePlate {
  padding-left: 5rem;
}

.answer_plate {
  background-color: $milli_gray;
  display: flex;
  flex-wrap: wrap;
  gap: 0.09rem;

  .answer_box_holder {
    display: flex;
    width: 30px;
    height: 29px;
    background-color: #e0e0e0;
    margin: 0 1px;
    border: 1px solid gray;
    flex-direction: column;
    cursor: pointer;
    
  }
  .answer_box_holderl {
    display: flex;
    width: 30px;
    height: 29px;
    background-color: #e0e0e0;
    margin: 0 1px;
    border: 1px solid gray;
    flex-direction: column;
    cursor: pointer;
    
  }

  .answer_box {
    width: 100%;
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
  }
}

.option_box {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  gap: 1rem;
}

.answer_box_holder:nth-child(n+6) .answer_box {
  pointer-events: none;
  opacity: 1;
}
.answer_box_holderl:nth-child(n+6) .answer_box {
  pointer-events: none;
  opacity: 1;
}

.answer_plate {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.correct_counter {
  text-align: center;
  margin-bottom: 20px;
}

.navigation_buttons {
  display: flex;
  justify-content: space-between;
}

.navigation_buttons button {
  padding: 10px 20px;
  border: none;
  background-color: $tade-color;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
}

.navigation_buttons button:disabled {
  background-color: #e0e0e0;
  color: #757575;
  cursor: not-allowed;
}

.answer_box_holder.selected {
  border: 2px #636262 solid;
}
.answer_box_holderl.selected {
  border: 2px #636262 solid;
}

.answer_box.answered {
  background-color: #636262;
}


.option_box {
  
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border: 0px solid #ccc;
}

// .option_box.selected {
//   background-color: $tade-color; 
//   color: white; 
// }



.correct_is
{
  opacity: 0;
}
.correct_is.answered.hi
  {
    //laundary 
    //cafe
    // 
    justify-content: end;
    align-items: end;
    opacity: 1;
  }


  .right-icon-animation {
    display: inline-block;
    margin-left: 5px;
    animation: rightIconAnimation 0.5s ease;
}

@keyframes rightIconAnimation {
    0% {
        opacity: 0;
        transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.step-line {
  margin-top: 70px;
  display: flex;
  width: 100%;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  position: relative;
}

.step {
  flex: 1;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  border-radius: 0%;
  color:#594fb6;
  background-color: #e7dfdf;
  text-align: center;
}
.step.active {
  font-weight: bold;
  color: white;
  background-color: $tade-color;
}
.line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: rgb(99, 94, 94);
  z-index: 0;
  transition: width 0.15s ease;
}
.answer_box_holder.flagged::before {
  content: "";
  top: 0;
  left: 0;
  width: 12px; 
  height: 12px; 
  justify-content: flex-end;
  background-color: red;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}
.answer_box_holder.flagged::before {

 .answer_box{
  content: "";
  top: 0;
  left: 0;
  width: 12px; 
  height: 5px; 
  background-color: red;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
 } 


 
}
.answer_box_holderl.flagged::before {
  content: "";
  top: 0;
  left: 0;
  width: 12px; 
  height: 12px; 
  justify-content: flex-end;
  background-color: red;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}
.answer_box_holderl.flagged::before {

 .answer_box{
  content: "";
  top: 0;
  left: 0;
  width: 12px; 
  height: 5px; 
  background-color: red;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
 } }
 .squestion_plate {
  height: fit-content;
  margin-bottom: 20px;
}

.ofijan_exam_plate_study {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;

  .question_plate_study {
    background-color: rgb(186, 230, 230);
    padding: 0.1rem;
    width: 70%;
    justify-content: center;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
  }

  .navigation_buttons {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }

  .choice_plate_study {
    padding-left: 0px;
    font-size: 14px;
  }

  .switch {
    width: max-content;
    background-color: $tade-color;
    height: 50px;
    padding: 10px;
    color: $tade-yellow;
    font-weight: bold;
    border: $tade-yellow solid 1px;
    margin-bottom: 5px;
    border-radius: 5px;
    justify-content: flex-end;

    &:hover {
      background-color: $tade-yellow;
      color: $tade-color;
      border: $tade-color solid 1px;
      transition: 0.1s ease-out;
    }
  }
}
.ofijanTestPlateHeader{
  opacity: 0.1;
}