@import "../../../styles/mixin.scss";
.ofijan_exam_plate_study{
    background-color: rgb(255, 255, 255);
    .question_plate_study{
        background-color: azure;
        padding: 15px;
        .squestionText{
                width: 100%;
                font-size: 18px;
                font-family: Arial, sans-serif;
                color: #333333;
                justify-content: center;
                border: 1px solid rgba(0, 0, 0, 0.048);
                padding: 4px;
              background-color: white;
                @include respond(phone) {
                  padding: 0%;
                }
        }
        .sdescription{
            background-color: white;
            border: 1px solid gray;
            padding: 5px;
        }
    }
}