@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
@import '../../styles/colors.scss';
.privacy-policy {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
    &__text {
        font-size: 1rem; 
        line-height: 1.6;
        margin-bottom: 16px;
        color: #333;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 24px;
        color: #2c3e50;
        font-weight: bold;
        font-family: 'Quicksand', sans-serif;
    }

    h3 {
        font-size: 1.5rem;
        margin-top: 24px;
        margin-bottom: 12px;
        color: #2c3e50;
        font-weight: bold;
        font-family: 'Quicksand', sans-serif;
    }

    a {
        color: #3498db;
        text-decoration: none;
        font-family: 'Quicksand', sans-serif;
        &:hover {
            text-decoration: underline;
        }
    }

    br {
        margin-bottom: 10px;
    }
}
