@import '../../styles/mixin.scss';
@import '../../styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');




.service__holder {
    max-width: 100%;
    margin: 0 auto;
    h1{
      font-family: 'Quicksand', sans-serif;
      font-size: 32px;
    }
  }
  
  .service__title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .service__cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    @include respond(phone){
        flex-direction: column;
        margin: 5px;
        gap: 1rem;
    }
  }
  
  .service__link {
    text-decoration: none;
  }
  
  
  .service__content {
    padding: 10px; 
    height: 140px;
    width: 1005;
    border: 1px solid gray;
    border-radius: 10px;
    justify-content: space-evenly;
    margin: 1px;
    max-width: 400px;
    button{
        border: 1px solid $tade_color;
        background-color: white;
    }
  }
  .content_black{
    border-radius: 10px;
    background-color: $tade_color;
    color: white;
    justify-content: space-between;
    opacity: 0.9;
    
  }
  .service__heading {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .service__button {
    width:40%;
    height: 25px;
    border-radius: 15px;
    float: inline-end;
    align-items: end
  }
  
  