@import "../../styles/mixin.scss";
@import "../../styles/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');



.hero {

    padding: 0px 0px 0px 0px;
    padding-top: 0rem;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left, rgb(255, 255, 255), $tade-color);

    @include respond(phone) {
        background-image: linear-gradient(to bottom, $tade-color, rgb(255, 255, 255) );
        height: 65vh;
        width: 100%;
        display: flex;
       padding-right: 10px;
    }

    &__container {
        display: flex;
        flex-direction: row;
        gap: 0rem;
        margin-bottom: 0px;
        padding-top: 0px;

        @include respond(phone) {
            align-items: flex-end;
            display: flex;
            justify-content: end;
            padding-top: 20px;
        }

        h2 {

            font-family: 'Quicksand', sans-serif;
            font-size: 1.8rem;
            color: white;
            margin-top: 5px;
            margin-left: 10px;

            @include respond(phone) {
                color: white;
                word-spacing: 1px;
                font-size: 18px;
                justify-content: center;
                text-align: justify;
                padding: 10px;
                display: none;
            }
        }

        h1 {
            font-family: 'Quicksand', sans-serif;
            font-size: 3.8rem;
            color: white;
            margin-top: 65px;

            @include respond(phone) {
                margin-top: 0px;

            }
        }

        p {
            color: yellow;
            opacity: 0.9;
            width: 75%;
            margin-top: 10px;
            padding-left: 10px;
            font-family: 'roboto', sans-serif;
            letter-spacing: 0.1em;
            text-align: justify;

            @include respond(phone) {
                margin-top: 0px;
                width: 100%;
                text-align: justify;
                color: white;
            }
        }

        @include respond(tab-port) {
            grid-template-columns: 1fr;
        }

        @include respond(phone) {
            flex-direction: column-reverse;
            gap: 0rem;

            h1 {
                font-size: 2.5rem;
                text-align: center;
            }
        }
    }

    &__btn-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
        margin-top: 0rem;
        margin-bottom: 0px;
        justify-content: center;
        margin-bottom: 10px;

        .btn_hero {
            color: $tade-color;
            font-weight: bold;
            border: 1px solid white;
            background-color: yellow;
            font-family: 'Quicksand', sans-serif;
        }

        button {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }
    }

    &__left {

        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 30px;

        @include respond(phone) {
            width: 100%;

        }
    }

    &__right {
        width: 50%;
        display: flex;
        justify-content: center;
        @include respond(tab-port) {
            width: 70%;
            margin-inline: auto;
            position: relative;
            align-items: start;

        }

        @include respond(phone) {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            width: 100%;
            align-items: center;
            align-content: center;

        }
    }

    .animation {
        width: 80%;
        height: 300px;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 0;

        @include respond(phone) {
            height: 150px;
            margin: 0;
            padding: 0;
        }
    }
}

.hero__right {
    @include respond(phone) {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.hero__text-container{
    p{
        color: black;
        font-weight: bold;
        word-spacing: 1px;
        letter-spacing: 0.5px;
    }
}
.hero__btn-container{
    display: flex;
    flex-direction: row; 
   justify-content: center;
   align-items: center;
   margin-bottom: 4px;
    h1{
        font-size: 0.8rem;
        color: $tade-color; 
        font-family: "poppins", sans-serif;
    letter-spacing: 0.31px;
    font-weight: lighter;
    }
}