@import '../../../styles/colors.scss';
.sidebar2 {
  flex: 1;
  height: max-content;
}

.sidebarWrapper2 {
  padding: 10px;
  color: #444040;
}

.sidebarMenu {
  margin-bottom: 20px;
  height: 40px;
  justify-content: center;
  background-color: white;
  overflow: hidden;
  transition: width 0.3s ease;
  border-left: solid 4px $tade-color;
  border-radius: 0px;
}

.sidebarMenu.expanded {
  height: fit-content;
  background-color: rgb(255, 255, 255);
  color: #050505;
  
}
.sidebarMenu.expanded .sidebarTitle{
  color: #050505; 
}
.sidebarMenu.expanded .sidebarListItem{
  color: #030303; 
}
.sidebarMenu.expanded .sidebarListItem.active {
  color: black;
}
.sidebarMenu.expanded .sidebarListItem:hover{
  color: black;
}



.sidebarTitle {
  font-size: 13px;
  padding-left: 12px;
  padding-top: 10px;
  color: $tade-color;
  opacity: 0.8;
}


.sidebarList {
  list-style: none;
  padding: 5px;

}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(240, 240, 255);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}