.sidebar {
  flex: 1;
  height: calc(100vh - 150px);
  background-color: #594fb6; 
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 10px;
  color: #444040;
}

.sidebarMenu {
  margin-bottom: 20px;
  height: 40px;
  justify-content: center;
  background-color: #ffffff;
  overflow: hidden;
  transition: width 0.3s ease;
  border: solid 0px #8d8d8f;
  border-radius: 0px;
  color: #594fb6;
}

.sidebarMenu.expanded {
  height: fit-content;
  background-color: #594fb6;
  
}
.sidebarMenu.expanded .sidebarTitle{
  color: #ffffff; 
}
.sidebarMenu.expanded .sidebarListItem{
  color: #ffffff; 
}
.sidebarMenu.expanded .sidebarListItem.active {
  color: #594fb6; 
}
.sidebarMenu.expanded .sidebarListItem:hover{
  color: #594fb6; 
}



.sidebarTitle {
  font-size: 13px;
  padding-left: 12px;
  padding-top: 10px;
  color: #594fb6; 
}


.sidebarList {
  list-style: none;
  padding: 5px;

}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(240, 240, 255);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}