.examsholder {
    display: flex;
    justify-content: center;
    align-items: center;

  
    .exams_card {
      width: 300px;
      margin: 20px;
      text-align: left;
  
      .ant-card-actions {
        display: flex;
        justify-content: center;
  
        button {
          width: 100%;
        }
      }
    }
  
    .underline {
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
    }
  
    .__logo {
      margin-right: 10px;
    }
  }
  