@import "../../styles/mixin.scss";

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;               
    flex-direction: column;      
    min-height: max-content;         
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 0rem;
    @include respond(tab-land) {
        padding-inline: 1rem;
    }

    @include respond(phone) {
       
    }
}

.footer {
    margin-top: auto;           
}

