@import "../../styles/mixin.scss";

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;               
    flex-direction: column;      
    min-height: 80vh;         
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 1rem;
    @include respond(tab-land) {
        padding-inline: 1rem;
    }

    @include respond(phone) {
       
    }
}

.footer {
    margin-top: auto;           // Pushes footer to the bottom
}
