@import "../../styles/mixin.scss";

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;               
    flex-direction: column;      
    min-height: max-content;         
    max-width: 100%;
    margin: 0 auto;
    padding-inline: 0rem;
    @include respond(tab-land) {
        width: 100%;
    }

    @include respond(phone) {
   width: 100%;
    }
}

.footer {
    margin-top: auto;           
}

