@import "../../styles/mixin.scss";
.exam-results-container {
    padding: 20px;
justify-content: center;
display: flex;
flex-direction: column;
padding-top: 50px;
.header-section{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
}
.name{
    text-align: justify;
}
.result-text{
    text-align: justify;
}
    .statistics-section {
        margin-bottom: 20px;
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: space-between;
flex-wrap: wrap;
gap: 1rem;
        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .statistic-item {
            margin-bottom: 10px;

            .ant-statistic-title {
                font-weight: bold;
            }
        }
    }

    .highest-scorer-section {
        margin-bottom: 20px;
        width: 100%;
        margin: auto;
        justify-content: center;
        background-color: rgba(124, 255, 2, 0.205);
        align-items: center;

        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .paragraph {
            font-size: 16px;

            .ant-typography-text {
                font-weight: bold;
            }

            .anticon-smile {
                vertical-align: middle;
                margin-left: 5px;
            }
        }
    }

    .exam-results-section {
        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .list-item {
            .ant-typography-text {
                font-size: 16px;
            }
        }
    }
}

.list-item {
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;

    .result-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;

        .name {
            font-weight: bold;
        }

        
    }

    &:last-child {
        border-bottom: none;
    }
}
.exam-results-section {
    margin: 20px;
}

.title {
    margin-bottom: 20px;
}

.two-column-container {
    display: flex;
    @include respond(phone) {
        flex-direction: column;
      }
    
}

.column {
    flex: 1;
}

.result-item {
    margin-bottom: 10px;
}

.result-item .sequence {
    margin-right: 10px;
}
.result-item {
    margin-bottom: 10px;
}

.result-item .sequence {
    margin-right: 10px;
}

.result-item .result-space {
    margin-right: 40px; 
}

.correct-answers {
            color: #1890ff;
        }
        .name{
            width: 200px;
        }
        .result-space{
            width: 200px;
        }

.result-item{
    background-color: rgb(236, 233, 233);
    display: flex;

}