@import "../../styles/mixin.scss";


.exitexam
{
    display: grid;
    height: max-content;
    background-color: #ffffff00;
    padding-top: 1rem;
    padding-bottom: 1rem;
    grid-template-columns: 1fr 3fr;
    @include respond(phone){
        width: calc(25% - 30px);
        display: block;
        
    }
    @include respond(tab-port){
        width: calc(25% - 30px);
        display: block;
    }
    @include respond(tab-land)
    {
        width: calc(45% - 30px); 
        display: block;
    }
}
.exams_list{
    
    background-color: #ffffff00;
    margin-left: 10px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 0%;
    align-items: left;
    justify-content: left;
    color: #110d34;
    flex-direction: row;
    @include respond(phone){
        width: calc(25% - 30px);
        display: block;
        
    }
    @include respond(tab-port){
        width: calc(25% - 30px);
        display: block;
    }
    @include respond(tab-land)
    {
        width: calc(45% - 30px); 
        display: block;
    }
}
.departments{
   background-color: #ffffff00;
   overflow-y: scroll;
   max-height: 500px;
a{
    text-decoration: none;
    color: rgb(82, 12, 82);
}
li{
    list-style: none;
    gap: 0.1rem;
    margin-bottom: 2px;
    &:hover{
        background-color: rgb(184, 179, 184);
    a{
    color: white;
    }       
}
   
}

}



.product-card .buttons {
  display: flex;
  justify-content: space-between;
}

.product-card .buttons button {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.product-card .buttons .preview-button {
  background-color: #64167c;
  color: #fff;
  border: none;
}

.product-card .buttons .buy-button {
  background-color: #28a745;
  color: #fff;
  border: none;
}

.product-card .buttons .buy-button:hover,
.product-card .buttons .preview-button:hover {
  opacity: 0.8;
}

  .product-card {
    width: 100px;
    height: max-content;
    background-color: #26eb1fcb;
    background: #26eb1fcb;
    border-radius: 100px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.658);
  }
  
  .product-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .product_head{
display: grid;
grid-template-columns: 1fr 4fr;
img{
  background-color: #6f00eb;
  border-radius: 200px;
  padding: 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.322);
}  
}
  .product-description {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .product-price {
    font-size: 18px;
    font-weight: bold;
    color: #00c853;
    margin-bottom: 10px;
  }
  
  .product-questions {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .product-answer {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .product-card .btn {
    background-color: #00c853;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .product-card .btn:hover {
    background-color: #009624;
  }
  