.containere {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    padding-top: 0px;
  }
  .side{
    width: 350px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: #fff;
    padding: 10px;
   
  }
 
  .items
  {
    background-color: rgb(255, 255, 255);
  }
  .sidebar a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-bottom: 10px;
  }
  
  .sidebar a:hover {
    color: #00bcd4;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  