@import "../../styles/mixin.scss";
@import "../../styles/colors.scss";

.footer{
  
    background-color: #ffffff;
    padding-block: 1rem;
    color: $tade-color;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
margin-top: 45vh;
    h3{
        color: $tade-color;
        font-size: large;
    }
    &__text{
        text-align: center;

    }
    &__stores
    {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap:  2rem;
        width: fit-content;
        margin-inline: auto;
        margin-block: 3rem 6rem;
    }
&__logo{
    width: fit-content;
    margin-inline: auto;
img{
    width: 100%
}
}
&__links{
    width: fit-content;
    margin-inline: auto;
    display: flex;
    text-decoration: none;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.6rem;
    margin-top: 0.5rem;

}
li{
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
    list-style-type: none;
        &:hover{
            color: #212123;
}
}

}
.about-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px; 
    
    h1 {
      color: $tade-color;
      font-size: 32px;
      margin-bottom: 20px;
    }
  
    h2 {
      color: $tade-color;
      font-size: 24px;
      margin-top: 40px;
      margin-bottom: 10px;
    }
  
    ul {
      list-style-type: disc;
      margin-left: 20px;
      margin-bottom: 20px;
    }
  
    .main-color {
      color: $tade-color;
    }
  }
  .about-us-container{
    padding: 0;
    padding: 3rem;
    padding-top: 5rem;
  }
  .terms {
    background-color: #f2f2f2; /* Set your desired background color */
    padding: 45px 0; /* Adjust padding as needed */
    
    .terms__container {
      max-width: 800px;
      margin: 0 auto;
      padding: 0 30px; /* Adjust padding as needed */

      
      .terms__title {
        color: #333; /* Set your desired title color */
        margin-bottom: 20px; /* Adjust margin as needed */
      }
      
      .terms__paragraph {
        color: #666; /* Set your desired paragraph text color */
        margin-bottom: 15px; /* Adjust margin as needed */
        
        .terms__link {
          color: #007bff; /* Set your desired link color */
          
          &:hover {
            text-decoration: underline; /* Add underline on hover */
          }
        }
      }
    }
  }
  
