@import '../../styles/mixin.scss';
.adCard{
    width: 100%;
    padding: 1rem;
    img{
        height: 120px;
        width: 50px;
        margin-left: 10px;
        @include respond(phone)
        {
            width: 80px;
        }
    }
}