@import '../../styles/mixin.scss';
.advertisement-card{
    width: 250px;
    padding: 0rem;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0);
    @include respond(phone){
        width: 100%;
        border: none;
        display: none;
      }
    img{
        width: 10px;
        margin-left: 0px;
        background-color: rgba(255, 255, 255, 0);
        @include respond(phone)
        {
            width: 80px;
        }
    }
}