@import '../../styles/colors.scss';
.blog {
  padding: 2rem 0;
  font-family: 'Merriweather', serif;

  .blog-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .blog-card {
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .blog-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-bottom: 1px solid #eaeaea;
    }

    .blog-content {
      padding: 1rem;
      .blog-title {
        font-size: 1.25rem;
        font-weight: bold;
      }
      .blog-category {
        font-style: italic;
        color: #666;
        margin-bottom: 0.5rem;
      }
      .author-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        .author-name {
          font-weight: bold;
        }
        .author-role {
          font-size: 0.85rem;
          color: #888;
        }
      }
      .blog-excerpt {
        font-size: 1rem;
        line-height: 1.5;
        color: #333;
        margin-bottom: 0.5rem;
      }
      .read-more-link {
        color: #1890ff;
        text-decoration: underline;
        &:hover {
          color: #40a9ff;
        }
      }
    }
  }
}
.blog-layout {
  width: 100%;
  min-height: 100vh; // Ensure the layout covers the full page height
  margin: 0;
  padding: 0;

  .ant-card {
    background: #f9f9f9; // Light background for the card
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}

.blog-row {
  margin: 0;
  width: 100%;
}

.blog-card {
  .blog-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .blog-content {
    padding: 10px 0;

    .blog-title {
      font-size: 1.2rem;
      font-weight: 600;
      color: $tade-color;
    }

    .blog-category {
      font-size: 14px;
      color: #888;
    }
  }

  .read-more-link {
    color: $tade-color;
    font-weight: 600; 
    text-decoration: none; 
    margin-top: 10px;
    display: block;
    text-align: right;
    font-size: 1rem; 
    position: relative;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
    transition: all 0.3s ease;
  
   
    &:hover {
      color: $tade-color;; 
      border-bottom: 2px solid $tade-color; 
      transform: translateY(-2px); 
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    }
  
 
    &:focus {
      outline: none;
      color: $tade-color;
      text-decoration: none;
      box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); 
    }
  }
  
}
