@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@700&display=swap');
@import "../../styles/mixin.scss";
@import "../../styles/colors.scss";
// Variables SCSS para fuentes
$title-font: 'Montserrat', sans-serif;
$body-font: 'Merriweather', serif;

.blog-list-container {
  padding: 20px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  .blog-card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  }

  .blog-image {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .blog__category {
    font-style: italic;
    color: #888;
  }

  .author__info {
    display: flex;
    align-items: center;
    margin-top: 10px;

    .author__photo {
      border-radius: 50%;
      margin-right: 10px;
    }

    .author__details {
      display: flex;
      flex-direction: column;
    }

    .author__name {
      font-weight: bold;
    }

    .author__role {
      color: #888;
    }
  }

  .blog__body {
    margin-top: 10px;
  }

  .read-more-link {
    display: block;
    margin-top: 10px;
    text-align: right;
    color: #1890ff;
    transition: color 0.3s ease;

    &:hover {
      text-decoration: underline;
      color: #40a9ff;
    }
  }
}

// YourComponentName.scss

.blog-row {
  display: flex;
  flex-wrap: wrap;
  margin: -8px; // Adjust as needed
}

.blog-card {
  width: 100%;
  margin: 8px; // Adjust as needed
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  border-radius: 8px;
  overflow: hidden;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-image {
  width: 100%;
  height: 200px; // Adjust as needed
  object-fit: cover;
}

.blog-category {
  margin-bottom: 8px;
  color: #666;
}

.author-info {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.author__photo {
  margin-right: 8px;
  border-radius: 50%;
}

.author-name {
  font-weight: bold;
  margin-bottom: 4px;
}

.author-role {
  color: #666;
  font-size: 12px;
}

.blog-body {
  margin-top: 16px;
  color: #333;
}

.read-more-link {
  display: block;
  margin-top: 16px;
  color: #1890ff;
  text-decoration: underline;
  transition: color 0.3s;
}

.read-more-link:hover {
  color: #40a9ff;
}

.blog-body-container{
  display: flex;
  gap: 2rem;
}
h6{
  font-size: 16px;
}
.blog__detail {
  padding: 10px;
  width: 100%;
  flex-direction: row;
  display: flex;
  gap: 3rem;
}

.first__row {
  width: 25%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  
}

.middle__row {
  width: 65%;
  display: flex;
  margin: 1rem;
  flex-direction: column;
}

.last__row {
  width: 15%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  .ant-descriptions {
      flex-direction: column;

      .ant-descriptions-item {
          display: flex;
          flex-direction: column;
      }
  }
}


.card-content {
  font-family: 'Arial', sans-serif;
  width: 800px;
  p {
    text-align: justify; 
    margin-bottom: 10px; 
    font-size: 16px;
  }
  h1{
    font-size: 40px;
    letter-spacing: 0.01px;
  }
  .imageSpace {
    margin-top: 20px;
  } 
  .blog-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }
}
@include respond(phone)
{
.blog-list-container {
  padding: 0px;
  margin: 0px;
    .ant-card {
      border-radius: 15px; 
      padding: 0px;
    }
    .blog-body-container {
      padding: 0px; 
      display: flex;
      flex-direction: column;
     
    }
    .blog-row {
      margin-left: -10px;
      margin-right: -10px;
    }
    .blog__detail{
      padding: 0px;
      margin: 0px;
      display: flex;
      flex-direction: column;
    }
  .card-content{
    width: 100%;
    margin: 0px;
    padding: 0px;
    h1{
      padding: 0px;
      font-size: 26px;
      letter-spacing: 0.01em;
    }
  }
    .blog-card {
      width: 100%; 
      border: none; 
      box-shadow: none; 
      border: 1px solid rgba(128, 128, 128, 0.418);
  
      .ant-card-meta-title {
        font-size: 1.2rem;
        margin-bottom: 10px; 
      }
  
      .author-name {
        font-size: 1rem; 
      }
  
      .blog-category {
        font-size: 0.8rem; 
      }
  
      .author-info {
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        margin-bottom: 5px; 
      }
  
      .author__photo {
        width: 20px; 
        height: 20px;
        margin-right: 5px;
      }
  
      .blog-body {
        font-size: 0.9rem; 
      }
    }
    
    .read-more-link {
      font-size: 0.9rem; 
    }
  }
  
}