.blog-landing-page {
  .ant-layout {
    .ant-layout-content {
      .ant-card {
        margin-top: 24px;

        .ant-card-head {
          background-color: #f0f2f5;
          border-radius: 4px 4px 0 0;

          .ant-card-head-title {
            font-size: 24px;
            font-weight: bold;
            color: #333;
          }

          .ant-card-extra {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            a {
              margin-left: 16px;
              color: #333;
            }

            a:hover {
              color: #40a9ff;
            }
          }
        }

        .ant-card-body {
          padding: 24px;
        }
      }
    }
  }
}