@import '../../../styles/colors.scss';

.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  
  z-index: 999;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1); 
}


.topbarWrapper {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: $tade-color;
  cursor: pointer;
  text-decoration: none; 
}

.topRight {
  display: flex;
  align-items: center;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;

  &:hover {
    color: #000; 
  }
}

.topIconBadge {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.topAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  padding: 2px;
  align-items: center;
  margin-inline: auto;

  &:hover {
    border: 2px solid #594fb6;
  }
}

.profileDropdown {
  position: absolute;
  top: 40px;
  right: 0px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  padding: 10px;

  &:hover {
    display: flex; 
  }

  p {
    margin: 0;
    padding: 8px;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5; 
    }
  }
}

.profiles {
  position: relative;

  &:hover .profileDropdown {
    display: flex;
  }
}
