@import "./styles/mixin.scss";
*
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    outline: 0;
    text-decoration: none;
    list-style: none;
}
body{
    color: #212123;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7em;
    font-family: "Roboto";
    src: url("https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu7GxKOzY.woff2") format("woff2"), url("https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxK.woff2") format("woff2");
    font-display: swap;
}
img{
    display: block;
}
button{
    display: inline-block;
    outline: none;
    border: none;
}
h1{
    color: #110d34;
    letter-spacing: -1.7px;
    font-family: "Poppins", sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10px;
@include respond(tab-port){
    font-size: 40px;
}
}
h4{
    color: #110d34;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1em;
    @include respond(tab-port){
        font-size: 25px;
    }
}
h3{
    color: #110d34;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.1em;
    
    @include respond(tab-land){
    font-size: 30px;
}
}
h6{
    color: #110d34;
    margin-bottom: 10px;
    font-family: 20px;
    font-weight: 700;
    line-height: 1.1em;
}
.button-primary{
    color: #fff;
    text-align: center;
    background-color: #6f00eb;
    border-radius: 30px;
    padding: 10px 30px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;

    &:hover{
        background-color: #9e54f0;
    }
}
.button-outline{
    color: #110d34;
    text-align: center;
    background-color: rgba(0,0,0,0);
    border: 1px solid #110d34;
    border-radius: 30px;
    padding: 10px 30px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;

    &:hover {
        background-color: #110d34;
        color: #fff;
    }
}
    .button-outline-2{
        color: #fff;
        text-align: center;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px 30px;
        transition: all 0.3s ease-in-out;

        &:hover{
            background-color: #fff;
            color: #110d34;
        }
    }

    .button-courses{
        color: #110d34;
        text-align: center;
        background-color: rgba(0,0,0,0);
        border: 1px solid #110d34;
        border-radius: 30px;
        padding: 5px 15px;
        margin: 0.22rem;
        margin-top: 2rem;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
    
        &:hover {
            background-color: #110d34;
            color: #fff;
        }
    }
.gon_le_gon
{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.mulu_mulu
{
    width: 100%;
}